
@model IEnumerable<cmp175.Models.Source>
<link />

 <div class="container  mt-5" style="margin-bottom: 300px" >
        <h2>Khóa học của tôi</h2>
        @foreach (var sourse in Model)
        {
            <div class="card mt-3">
                <img src="@sourse.imageUrl" alt="Placeholder Image" class="card-img">
                <div class="card-body">
                    <h5 class="card-title">@sourse.NameSource</h5>
                    <p class="card-text">@sourse.Description</p>
                    <p>Số lượng: @sourse.quantityVideo</p>
                    <a asp-action="ViewVideos" asp-route-sourseId="@sourse.Id" class="btn btn-primary btn-ms">Xem video</a>
                </div>
            </div>
        }
    </div>
@*<table class="table">
    <thead>
        <tr>
            <th>NameSource</th>
            <th>Describe</th>
            <th>Teacher_name</th>
            <th>TimeVideo</th>
            <th>imageUrl</th>
            <th>video</th>
            

        </tr>
    </thead>
     <tbody>
                @foreach (var sourse in Model)
                {
                    <tr>
                        <td>@sourse.NameSource</td>
                        <td>@sourse.Description</td>
                        <td>@sourse.quantityVideo</td>
                        <td>@sourse.TimeVideo</td>
                        <td><img src="@sourse.imageUrl" style="max-width: 100px;" /></td>
                        <td><a asp-action="ViewVideos" asp-route-sourseId="@sourse.Id">@sourse.NameSource</a></td>
                    </tr>
                }
            </tbody>
</table>*@
