@model List<cmp175.Models.Source>
<h1>Danh sách tất cả các Source</h1>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Tên Source</th>
            <th>Giá</th>
            <th>Mô tả</th>
            <th>Số lượng Video</th>
            <th>Thời lượng Video</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var source in Model)
        {
            <tr>
                <td>@source.Id</td>
                <td>@source.NameSource</td>
                <td>@source.Price</td>
                <td>@source.Description</td>
                <td>@source.quantityVideo</td>
                <td>@source.TimeVideo</td>
                <td>
                    <a asp-controller="Source" asp-action="Details" asp-route-id="@source.Id">Mua</a>
                </td>
            </tr>
        }
    </tbody>
</table>
