@model List<CartItem>

<h1 class="container mb-5">Giỏ hàng của bạn</h1>

@if (Model.Count > 0)
{
    <div class="container" style="margin-bottom: 300px">
        <div class="row">
            <div class="col-md-12">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Tên sản phẩm</th>
                                <th>Giá</th>
                               
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@item.NameSource</td>
                                    <td>@item.Price</td>
                                   <td>
                                       <form method="post" action="@Url.Action("RemoveFromCart", "Cart")">
                                           <input type="hidden" name="sourceId" value="@item.SourceId" />
                                           <button type="submit" class="btn btn-danger">Xóa</button>
                                       </form>
                                   </td>

                                    <input type="hidden" name="SourceId" value="@item.SourceId" />
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <h2>Thông tin thanh toán</h2>
                <form asp-controller="Order" asp-action="Create" method="post">
                    <input type="hidden" name="SourceId" value="@string.Join(",", Model.Select(item => item.SourceId))" />
                    <input type="hidden" name="ToltalPrice" value="@string.Join(",", Model.Select(item => item.Price))" />
                    <div class="form-group">
                        <label for="name">Tên:</label>
                        <input type="text" id="name" name="Name" class="form-control" required/>
                    </div>
                    <div class="form-group">
                        <label for="address">Địa chỉ:</label>
                        <input type="text" id="address" name="Address" class="form-control" required/>
                    </div>
                    <div class="form-group">
                        <label for="phone">Số điện thoại:</label>
                        <input type="text" id="phone" name="Phone" class="form-control" required/>
                    </div>
                    <button type="submit" class="btn btn-primary mt-5">Thanh toán</button>
                </form>
            </div>
        </div>
    </div>
}
else
{
    <p class="text-center" style="margin-bottom: 300px">Giỏ hàng của bạn đang trống.</p>
}

@section scripts {
    <script>
        function removeFromCart(sourceId) {
            fetch('/Cart/RemoveFromCart', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    sourceId: sourceId
                })
            })
            .then(response => {
                if (response.ok) {
                    location.reload();
                } else {
                    console.error('Failed to remove item from cart');
                }
            })
            .catch(error => {
                console.error('Error:', error);
            });
        }
    </script>
}
