@model List<CartItem>

<h1>Giỏ hàng của bạn</h1>

@if (Model.Count > 0)
{
    <table>
        <thead>
            <tr>
                <th>Tên sản phẩm</th>
                <th>Giá</th>
                <th>Số lượng</th>
                <th>Tổng cộng</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.SourceId</td>
                    <td>@item.NameSource</td>
                    <td>@item.Price</td>
                    <td>
                        <input type="number" min="1" value="@item.Quantity" onchange="updateQuantity(@item.SourceId, this.value)"/>
                    </td>
                    <td>@item.Price</td>
                    <td><button onclick="removeFromCart(@item.SourceId)">Xóa</button></td>
                     <input type="hidden" name="SourceIds" value="@item.SourceId" />
                </tr>
            }
        </tbody>
    </table>

    <h2>Thông tin thanh toán</h2>
    <form asp-controller="Order" asp-action="Create" method="post">
        <input type="hidden" name="SourceId" value="@string.Join(",", Model.Select(item => item.SourceId))" />
        <input type="hidden" name="ToltalPrice" value="@string.Join(",", Model.Select(item => item.Price))" />
        <label for="name">Tên:</label>
        <input type="text" id="name" name="Name" required/><br/>
        <label for="address">Địa chỉ:</label>
        <input type="text" id="address" name="Address" required/><br/>
        <label for="phone">Số điện thoại:</label>
        <input type="text" id="phone" name="Phone" required/><br/>
        <button type="submit">Thanh toán</button>
    </form>


}
else
{
    <p>Giỏ hàng của bạn đang trống.</p>
}

@section scripts {
    <script>
    

        function removeFromCart(sourceId) {
          
        }
    </script>
}
